header h1 {
  text-shadow: 2px 2px 4px black;
}

.col{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 20px;
}

#botones {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.col button {
  margin-right: 5px;
  background-color: rgb(27, 99, 57);
  color: white;
  border-radius: 5px;
  padding: 3px 6px 3px 6px;
  border: none;
}

#message {
  display: none;
  color: green;
}

#message.error {
  color: red;
}

#sec-cine-result {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sec-cine-result p {
  background-color: #E83845;
  color: #fff;
  font-weight: bolder;
  border: none;
  padding: 20px 200px;
  border-radius: 15px;
  margin-top: 30px;
}